
{{#if error}}
  <p class="alert alert-primary" role="alert">Please Enter Full </p>
{{/if}}
{{#if exists}}
  <p class="alert alert-primary" role="alert">username Esited </p>
{{/if}}
<form method="POST" class="mt-4">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="phone">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Address</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="address">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/user/login">login</a></li>
</ul>